page-forgotpassword {
  background-color: #2993EB !important;
  ion-navbar.toolbar {
    /* background: linear-gradient(#28CF81 70%,#3498DB 20%); */
    background: #2993EB !important;
  }
  ion-content.content
  {
    background-image: none !important;
  }

	.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
		color: white !important;
	}
    .f-clr
    {
        background-color:#3B97C8;
    }
      page-forgotpassword .list-md .item-input:last-child {
        border: 1px solid #dedede !important;
      }
      .m-t-35
      {
          margin-top: 35px !important;
      }
      .blue-clr{
          background-color:#2993EB;
        }


  ion-navbar.toolbar:before
  {
    background: transparent;
  }
  .color-white{
    color:white !important;
  }


}
