.input-wrapper{
  border-bottom: 0px;
}

// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
/*.margin20
{
	margin:20px;
}
.margin-left10
{
	margin-left:10px;
}
.list-md .item-block .item-inner
 {
   border-bottom:none;
   
}
.item-md.item-block .item-inner
 {
    border-bottom:none;

}
scroll-content {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
  display: block;
  width: 65%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
  contain: size style layout;
}
.border-btm
{
  border-bottom:1px solid #86A2B5;
}

$blue:blue;



.message-alert .alert-title
{
  font-size: 16px !important;
}

.clr{
  color:#FFF !important;
}
.p-l-0{
  padding-left:0px !important;
}

.item-md {
  padding-left:0px !important;
}
.p-l-7{
  padding-left:7px !important;
}
.icon-font-size {
  display: inline-block;
  font-size: 3.9rem;
  color: #E6E6E6 !important;
  top: -41px !important;
  right: -130px !important;
  position: relative;
}
.margin-5{
  margin:5px !important;
}
.font-clr{
  color:#CCD8E0 !important;
}
.fnt-14{
  font-size:14px !important;
}
.light-clr{
  color:#E6E6E6 !important;
}
.Menuheader.item-md{
  background-color:#052A44;
}
.label-md{
  margin:0px !important;
}
.item-md p {
  overflow: inherit !important;
  line-height: normal !important;
  text-overflow: inherit !important;
  color: black !important;
  margin:0px 0px 5px 0px !important;
}
.color-gray{
  p{
    color:#FFF !important;
    font-size:14px !important;

  }

}
.margin-top20{
  margin-top: 20px !important;
}



*/